.table {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    overflow-x: scroll;
}

.table::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.table::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.table::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.table::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.table::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.table::-webkit-scrollbar-track:hover,
.table::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.table .header {
    background-color: #2083FB;
    display: grid;
    grid-template-columns: repeat(26, 220px);

    padding: 23px 20px;
}

.table .header p {
    color: #ffffff;
    text-align: center;
}

.table .body .element{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(26, 220px);
    text-align: center;
    padding: 15px 20px;
}

.bxs-trash-alt {
    color: #0F253F;
    font-size: 24px;
    cursor: pointer;
}